body {
            background: #009999;
            color: #000000;
            font-family: Trebuchet MS, Arial, Times New Roman;
            font-size: 12px;
}
 
#container {
            background: #3399FF;
            margin: 30px auto;
            width: 900px;
            height: 1000px;
}
 
#header {
            background: #33CCCC;
            height: 100px;
            width: 900px;
			text-align: center;
}
 
#navigation {
            background: #00FFCC;
            width: 900px;
            height: 55px;
			
}
 
#menu {
            background: #66FFCC;
            float: left;
            width: 200px;
            height: 900px;
			font size: 3px;
}
 
#content {
            background: #99FFCC;
            float: right;
			text: text-indent;
			size: 22px;
            width: 700px;
            height: 900px;
}
 
#clear {
            clear:both;
}
 
#footer {
            background: #33FFCC;
            height: 100px;
            width: 300px;
}


